.hello {
    background-color: #294e80;
    color: white;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    font-family: 'Arial';
    span {
        color: #ddd;
        text-transform: capitalize;
    }
}