.panel {
    width: 100%;
    text-align: center;
    .controls {
        margin-bottom: 10px;
        .button {
            outline: none;
            display: inline;
            background-color: #294e80;
            border: 1px solid #fff;
            background: linear-gradient(to top, #294e80 42%,#7db9e8 95%);
            color: #fff;
            border-radius: 5px;
            padding: 10px;
            padding-top: 8px;
            margin-right: 5px;
            font-family: 'Arial';
            cursor: pointer;
            &:hover {
                transition: all 0.5s ease-in-out;
                background: #eee;
                color: #000;
            }
            &:active {
                background-color: #ccc;
                color: #000;
            }
        }
    }
    .window{
        height: 480px;
        width: 640px;
        display: inherit;
        margin: auto;
    }
}